.search-controls {
    display: inline-flex;
    padding: 7px;
    background: var(--background-tertiary);
    color: var(--text-muted);
    border-radius: 4px;
    margin-left: 5px;
    padding-right: 0;    
}